.ct-chart{
    display:flex;
    flex-direction: column;
    height:auto;
    max-height: 100%;
    width:auto;
    max-width:100%;
}
.ct-chart .ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    order:1
  }
  .ct-chart .ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
    display: inline-block;
  }
  .ct-chart .ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
  }
  .ct-chart .ct-legend li .inactive:before {
    background: transparent;
  }
  .ct-chart .ct-legend li:nth-child(1)::before {
    background-color: #d70206;
  }
  .ct-chart .ct-legend li:nth-child(2)::before {
    background-color: #f05b4f;
  }
  .ct-chart .ct-legend li:nth-child(3)::before {
    background-color: #f4c63d;
  }
  .ct-chart .ct-legend li:nth-child(1n+4)::before {
    background-color: #F06292;
  }
  .ct-chart .ct-legend .ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
  }
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(1) .ct-point,
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(1) .ct-line {
    stroke: #d70206;
  }
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(2) .ct-point,
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(2) .ct-line {
    stroke: #f05b4f;
  }
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(3) .ct-point,
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(3) .ct-line {
    stroke: #f4c63d;
  }
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(1n+4) .ct-point,
  .ct-chart g:not(.ct-grids):not(.ct-labels) g:nth-child(1n+4) .ct-line {
    stroke: #F06292;
  }
  