<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>view</title>
    <script type="application/javascript">
        function connect(server){
            this.ws = new WebSocket(server);
            /*this.ws.send(JSON.stringify({
                'type': 'connect'
            }))*/
            this.ws.addEventListener('message', (msg) => {
                console.log(msg)
            })
            this.ws.addEventListener('error', () => {
                this.ws.close()
            });
            this.ws.addEventListener('close', () => {
                setTimeout(() => {
                    connect(server)
                }, 500)
            })
        }
        connect('ws://localhost:3000/view')
    </script>
</head>
<body>
    
</body>
</html>